<h1>Sign in</h1>

<form action = '<%= session_url %>', method='POST'>
    <%= auth_token %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="email">Email: </label>
  <input type="text" name="user[email]" value="">
  <label for="password">Password: </label>
  <input type="password" name="user[password]" value="">
  <input type="submit" value="Sign in!">
</form>
