<h1>Sign Up As a New User</h1>

<form action = '<%= user_url %>', method='POST'>
    <%= auth_token %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="email">Email: </label>
  <input type="text" name="user[email]">
  <label for="password">Password: </label>
  <input type="password" name="user[password]">
  <input type="submit" value="Register">
</form>
