<h1>Sign Up As a New User</h1>

<form action = '<%= user_url %>', method='POST'>
  <%= auth_token %>
  <label for="email">Email: </label>
  <input type="text" name="user[email]" value="">
  <label for="password">Password: </label>
  <input type="password" name="user[password]" value="">
  <input type="submit" value="Register">
</form>
